.chooser{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jr, .iut{
    color: white;
    transition: 0.5s;
    text-align: center;
    padding: 10%;
    width: 20%;
    filter: grayscale();
}

.jr{
    background: url("img/studies/jr.jpg") no-repeat center;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.iut{
    background: url("img/studies/iut.jpg") no-repeat center;
    background-size: cover;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.jr:hover, .iut:hover{
    transition: 0.5s;
    width: 25%;
    filter: none;
}
